---
layout: collection
author_profile: true
gallery:
    - url: /spacex/
      image_path: /images/portfolio/raptor.jpg
      alt: "placeholder image 3"
      title: "SpaceX Raptor Rocket Engine"
    - url: /cev/
      image_path: /images/portfolio/CEV.jpg
      alt: "cev image"
      title: "Cornell Electric Vehicle Project Team"
    - url: /gm/
      image_path: /images/portfolio/gmd.jpg
      alt: "placeholder image 2"
      title: "General Motors Internship"
gallery2:
    - url: /fin/
      image_path: /images/portfolio/fin.png
      alt: "placeholder image 3"
      title: "Carbon Fiber Surfboard Fins"
    - url: https://ece4760.github.io/Projects/Spring2025/ks875_ttw24_3rdGroupMember/index.html
      image_path: /images/portfolio/nuke.png
      alt: "placeholder image 2"
      title: "Nuclear Reactor Simulation"
    - url: /fast/
      image_path: /images/portfolio/fast.gif
      alt: "fast image"
      title: "Fast Robots"
gallery3:
      - url: /zt/
        image_path: /images/portfolio/zt.jpg
        alt: "placeholder image 2"
        title: "ZT Group Nano Heat Energy Research Laboratory"
      - url: /mechatronics/
        image_path: /images/portfolio/Mechatronics.JPG
        alt: "placeholder image 3"
        title: "Mechatronics Robot Competition"
      - url: /door/
        image_path: /images/portfolio/door/door6.png
        alt: "door"
        title: "Fancy Door"
gallery4:
      - url: /galton/
        image_path: https://img.youtube.com/vi/MOywHgXJUJw/0.jpg
        alt: "galton"
        title: "Galton Board Simulation"
      - url: /blade/
        image_path: /images/portfolio/blade/blade.png
        alt: "blade"
        title: "Turbine Blade Design Project"
      - url: /2250/
        image_path: /images/portfolio/pump.jpg
        alt: "cev image"
        title: "Pump Project"
gallery5:
      - url: /iot/
        image_path: images/portfolio/iot/iot.png
        alt: "iot"
        title: "Machine Learning Traffic Tracking Project"
      - url: /images/portfolio/Emerson.JPG
        image_path: /images/portfolio/Emerson.JPG
        alt: "Emerson"
        title: "I work in the Emerson Machine Shop as a Machine Shop Supervisor. I LOVE machining andhave over 250+ hours in the shop, machining parts for CEV and working as a supervisor."
      - url: /early/
        image_path: /images/portfolio/Home.jpg
        alt: "young tyler"
        title: "Early Works"

---

   <!-- about section
   ================================================== -->
   <section id="about">  

   	<div class="row section-intro">
   		<div class="col-twelve">
   			<h1>Welcome!</h1>

   			<div class="intro-info">


   				<p class="lead">
            I'm Tyler Wisnieski, a first-generation Mechanical Engineering student at Cornell University. I graduated with my Bachelor's 
            degree in Mechanical and Aerospace Engineering in May, 2025 and am currently pursuing my Master's in Mechanical Engineering at Cornell 
            and I'll be graduating in December, 2025.
          </p>


   			</div>   			

   		</div>   		
   	</div> <!-- /section-intro -->


       <h1>Projects</h1>
       <p>Click on one of the images below for more information on some of the projects I've done! </p> 
       
       {% include gallery  %}
       {% include gallery id="gallery2"  %}
       {% include gallery id="gallery3"  %}
       {% include gallery id="gallery4"  %}
       {% include gallery id="gallery5"  %}


       <!-- <p>Click on an image for more information </p> 