---
layout: collection
author_profile: true
gallery:
  - url: /cev/
    image_path: /images/portfolio/CEV.jpg
    alt: "cev image"
    title: "CEV"
  - url: /gm/
    image_path: /images/portfolio/gmd.jpg
    alt: "placeholder image 2"
    title: "GMD"
  - url: /fin/
    image_path: /images/portfolio/fin.png
    alt: "placeholder image 3"
    title: "Image 3 title caption"
gallery2:
    - url: /fast/
      image_path: /images/portfolio/fast.gif
      alt: "cev image"
      title: "fast"
    - url: /zt/
      image_path: /images/portfolio/zt.jpg
      alt: "placeholder image 2"
      title: "Image 2 title caption"
    - url: /mechatronics/
      image_path: /images/portfolio/Mechatronics.JPG
      alt: "placeholder image 3"
      title: "Image 3 title caption"
gallery3:
      - url: /zt/
        image_path: /images/portfolio/zt.jpg
        alt: "placeholder image 2"
        title: "Image 2 title caption"
      - url: /mechatronics/
        image_path: /images/portfolio/Mechatronics.JPG
        alt: "placeholder image 3"
        title: "Image 3 title caption"
      - url: /door/
        image_path: /images/portfolio/door/door6.png
        alt: "door"
        title: "door"
gallery4:
      - url: /galton/
        image_path: /images/portfolio/pump.jpg
        alt: "galton"
        title: "galton"
      - url: /blade/
        image_path: /images/portfolio/Emerson.JPG
        alt: "blade"
        title: "blade"
      - url: /2250/
        image_path: /images/portfolio/pump.jpg
        alt: "cev image"
        title: "2250"
gallery5:
      - url: /iot/
        image_path: /images/portfolio/pump.jpg
        alt: "iot"
        title: "iot"
      - url: /images/portfolio/Emerson.JPG
        image_path: /images/portfolio/Emerson.JPG
        alt: "Emerson"
        title: "I work in the Emerson Machine Shop as a Machine Shop Supervisor. I LOVE machining andhave over 250+ hours in the shop, machining parts for CEV and working as a supervisor."
      - url: /early/
        image_path: /images/portfolio/Home.jpg
        alt: "young tyler"
        title: "hoome"

---

   <!-- about section
   ================================================== -->
   <section id="about">  

   	<div class="row section-intro">
   		<div class="col-twelve">
   			<h1>Hi!</h1>

   			<div class="intro-info">

   				<p class="lead">I am a current <b>Mechanical Engineering Student at Cornell University</b>. In the upcoming spring semester, I'll be finishing my BS in Mechanical and Aerospace Engineering 
						degree and starting my M.Eng in Mechanical Engineering 
						as a student in the Early M.Eng program. I am passionate about 
						design, manufacturing, and transportation. I am currently seeking intern/coop roles for <b>Fall 2025</b>.</p>
   				<p class="lead">
            I'm Tyler Wisnieski, a first-generation Mechanical Engineering student at Cornell University. I graduated with my Bachelor's 
            degree in Mechanical and Aerospace Engineering in May, 2025 and am currently pursuing my Master's in Mechanical Engineering at Cornell 
            and I'll be graduating in December, 2025.
          </p>
   				<p class="lead">
            My dad was a carpenter and I spent most weekends through highschool working with him installing windows, hauling drywall, building decks, 
            and any other number of odd jobs from week to week. As a result, I've developed a strong work ethic and a passion for building with the
            tools to make my visions a reality.
          </p>
   			</div>   			

   		</div>   		
   	</div> <!-- /section-intro -->


       <h1>Projects</h1>
       <p>Click on an image for more information </p> 
       
       {% include gallery  %}
       {% include gallery id="gallery2"  %}
       {% include gallery id="gallery3"  %}
       {% include gallery id="gallery4"  %}
       {% include gallery id="gallery5"  %}


       <!-- <p>Click on an image for more information </p> 